<!-- <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/css/intlTelInput.min.css"
   /> -->
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/js/intlTelInputWithUtils.min.js"></script>

<script type="module">
  import {
    LitElement,
    css,
    html,
    unsafeCSS,
  } from "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js";
  // import 'https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/js/intlTelInput.min.js'

  import styles from "https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/css/intlTelInput.min.css" with { type: "css" };
  const styleFix = css`
    .iti {
      --iti-path-flags-1x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/img/flags.png");
      --iti-path-flags-2x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/img/flags@2x.png");
      --iti-path-globe-1x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/img/globe.png");
      --iti-path-globe-2x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/img/globe@2x.png");
    }
  `;

  export class FormInputPhone extends window.FormInput {
    static styles = [unsafeCSS(styles), styleFix];

    updateValue() {
      this.phoneInputHandler.getNumber();
    }

    firstUpdated() {
      super.firstUpdated();
      console.log(this.$input);
      console.log(window);
      //TODO: reorder preferred languages list alphabetically
      this.phoneInputHandler = window.intlTelInput(this.$input, {
        initialCountry: "auto",
        preferredCountries: ["us", "ca", "uk", "fr", "de", "hn", "nl", "be", "ch"],
        geoIpLookup: this._getLanguage,
        formatAsYouType: true,
        // loadUtils: () => import("https://cdn.jsdelivr.net/npm/intl-tel-input@25.2.1/build/js/utils.js")
      });
    }

    _getLanguage(callback) {
      const langCountryCode = navigator.languages ? navigator.languages[0] : navigator.language;

      if (!langCountryCode) {
        callback("us");
        return;
      }

      try {
        const lang = langCountryCode.split("-")[1].toLowerCase();
        callback(lang);
      } catch (error) {
        callback(langCountryCode);
      }
    }

    render() {
      return html`
        <label class="zf-labelName" for="${this.id}">
          ${this.label}${this.required ? html`<em class="important">*</em>` : ""}
        </label>
        <div class="zf-tempContDiv">
          <span>
            <input
              id="${this.id}"
              type="tel"
              maxlength="255"
              name="${this.id}"
              @input="${this.handleInput}"
              ?required=${this.required}
            />
          </span>
        </div>
      `;
    }
  }

  customElements.define("form-input-phone", FormInputPhone);
</script>
