<h2 data-i18n="liability:title"></h2>

<p data-i18n="liability:intro"></p>

<h3 data-i18n="liability:nonAgency.title"></h3>

<p data-i18n="liability:nonAgency.nonPadi"></p>
<p data-i18n="liability:nonAgency.franchise"></p>
<p data-i18n="liability:nonAgency.padiLiability"></p>

<h3 data-i18n="liability:riskAgreement.title"></h3>

<p
  data-i18n="liability:riskAgreement.knowledgeRisk"
  data-i18n-options='{"name": "<strong class=\"liabilityName\"><\/strong>"}'
></p>
<p data-i18n="liability:riskAgreement.dcsRisk"></p>
<p data-i18n="liability:riskAgreement.boatRisk"></p>
<p data-i18n="liability:riskAgreement.udcLiability"></p>
<p data-i18n="liability:riskAgreement.goodHealth"></p>
<p data-i18n="liability:riskAgreement.divePractices"></p>
<p data-i18n="liability:riskAgreement.boatDiving"></p>
<p data-i18n="liability:riskAgreement.refresher"></p>
<p data-i18n="liability:riskAgreement.staffLiability"></p>
<p data-i18n="liability:riskAgreement.gearLiability"></p>
<p data-i18n="liability:riskAgreement.rescue"></p>
<p data-i18n="liability:riskAgreement.lawfulAge"></p>
<p data-i18n="liability:riskAgreement.legalStatement"></p>
