<h2 data-i18n="liability:title"></h2>

<p data-i18n="liability:intro"></p>

<h3 data-i18n="liability:nonAgency.title"></h3>

<p>
  <span data-i18n="liability:nonAgency.nonPadi.1"></span>
  <strong>Utila Dive Center</strong>
  <span data-i18n="liability:nonAgency.nonPadi.2"></span>
</p>
<p data-i18n="liability:nonAgency.franchise"></p>
<p data-i18n="liability:nonAgency.padiLiability"></p>

<h3 data-i18n="liability:riskAgreement.title"></h3>

<p>
  <span data-i18n="liability:riskAgreement.knowledgeRisk.1"></span>
  <strong class="liabilityName"></strong>
  <span data-i18n="liability:riskAgreement.knowledgeRisk.2"></span>
</p>
<p data-i18n="liability:riskAgreement.dcsRisk"></p>
<p data-i18n="liability:riskAgreement.boatRisk"></p>

<p>
  <span data-i18n="liability:riskAgreement.udcLiability.1"></span>
  <strong>Utila Dive Center</strong>
  <span data-i18n="liability:riskAgreement.udcLiability.2"></span>
</p>

<p data-i18n="liability:riskAgreement.goodHealth"></p>
<p data-i18n="liability:riskAgreement.divePractices"></p>
<p data-i18n="liability:riskAgreement.boatDiving"></p>
<p data-i18n="liability:riskAgreement.refresher"></p>
<p data-i18n="liability:riskAgreement.staffLiability"></p>
<p data-i18n="liability:riskAgreement.gearLiability"></p>
<p data-i18n="liability:riskAgreement.rescue"></p>
<p data-i18n="liability:riskAgreement.lawfulAge"></p>

<p>
  <span data-i18n="liability:riskAgreement.legalStatement.1"></span>
  <strong class="liabilityName"></strong>
  <span data-i18n="liability:riskAgreement.legalStatement.2"></span>
</p>
