<body>
  <div class="formWidth formDropShadow">
    <div class="formWrapper">
      <header-element data-i18n="[title]title"></header-element>

      <section class="homeNav">
        <h2 data-i18n="home.title"></h2>
        <p data-i18n="home.description"></p>
        <nav>
          <!-- <a class="disabled" href="/udc?pkg=goPro&pathway=medical,liability,safeDiving" data-i18n="home.goPro"></a>
          <a class="disabled" href="/udc?pkg=ow&pathway=medical,liability,safeDiving" data-i18n="home.ow"></a>
          <a class="disabled" href="/udc?pkg=aow&pathway=medical,liability,safeDiving" data-i18n="home.aow"></a> -->

          <a class="disabled" data-i18n="home.goPro"></a>
          <!-- <a class="disabled" data-i18n="home.ow"></a>
          <a class="disabled" data-i18n="home.aow"></a> -->
          <a href="/udc?pkg=fd&pathway=liability" data-i18n="home.fd"></a>
        </nav>
      </section>
    </div>
  </div>
</body>
