<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
  </head>
  <body>
    <div id="content">
      <%- include(page); %>
      <!-- Body content is dynamically injected here -->
    </div>

    <!-- <script src="/js/script.js"></script> -->
  </body>
</html>
