<link rel="stylesheet" href="/css/medicalStylesheet.css" />

<div class="formWidth formDropShadow">
  <form name="medical-form" enctype="multipart/form-data" id="medical-form">
    <div class="formWrapper">
      <header-element data-i18n="[title]medical:title"></header-element>

      <multi-step-form>
        <fieldset class="formStep">
          <legend data-i18n="personal.title"></legend>
          <p data-i18n="[html]medical:intro"></p>
          <p data-i18n="[html]medical:directions"></p>

          <input type="hidden" id="pkg" name="pkg" />
          <div class="multiInput" id="full_name">
            <form-input data-i18n="[label]personal.firstName" id="first_name" required></form-input>
            <form-input data-i18n="[label]personal.lastName" id="last_name" required></form-input>
          </div>
          <date-picker data-i18n="[label]personal.dob" id="dob" required></date-picker>
        </fieldset>

        <fieldset class="formStep">
          <ol class="radioList">
            <li>
              <form-radio
                id="q1"
                data-i18n="[label]medical:q1;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q2"
                data-i18n="[label]medical:q2;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q3"
                data-i18n="[label]medical:q3;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q4"
                data-i18n="[label]medical:q4;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q5"
                data-i18n="[label]medical:q5;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q6"
                data-i18n="[label]medical:q6;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q7"
                data-i18n="[label]medical:q7;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q8"
                data-i18n="[label]medical:q8;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q9"
                data-i18n="[label]medical:q9;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
            <li>
              <form-radio
                id="q10"
                data-i18n="[label]medical:q10;[options]medical:yesNoOptions"
                required
              ></form-radio>
            </li>
          </ol>
        </fieldset>

        <fieldset id="secondaryQStep" class="formStep boxList">
          <fieldset id="boxA" class="flex-form box">
            <legend data-i18n="medical:boxA.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="qA_1"
                  data-i18n="[label]medical:boxA.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qA_2"
                  data-i18n="[label]medical:boxA.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qA_3"
                  data-i18n="[label]medical:boxA.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qA_4"
                  data-i18n="[label]medical:boxA.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qA_5"
                  data-i18n="[label]medical:boxA.5;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>

          <fieldset id="boxB" class="box">
            <legend data-i18n="medical:boxB.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="qB_1"
                  data-i18n="[label]medical:boxB.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qB_2"
                  data-i18n="[label]medical:boxB.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qB_3"
                  data-i18n="[label]medical:boxB.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qB_4"
                  data-i18n="[label]medical:boxB.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>

          <fieldset id="boxC" class="box">
            <legend data-i18n="medical:boxC.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="qC_1"
                  data-i18n="[label]medical:boxC.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qC_2"
                  data-i18n="[label]medical:boxC.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qC_3"
                  data-i18n="[label]medical:boxC.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qC_4"
                  data-i18n="[label]medical:boxC.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>

          <fieldset id="boxD" class="box">
            <legend data-i18n="medical:boxD.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="qD_1"
                  data-i18n="[label]medical:boxD.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qD_2"
                  data-i18n="[label]medical:boxD.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qD_3"
                  data-i18n="[label]medical:boxD.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qD_4"
                  data-i18n="[label]medical:boxD.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>

          <fieldset id="boxE" class="box">
            <legend data-i18n="medical:boxE.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="qE_1"
                  data-i18n="[label]medical:boxE.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qE_2"
                  data-i18n="[label]medical:boxE.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qE_3"
                  data-i18n="[label]medical:boxE.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qE_4"
                  data-i18n="[label]medical:boxE.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>

          <fieldset id="boxF" class="box">
            <legend data-i18n="medical:boxF.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="qF_1"
                  data-i18n="[label]medical:boxF.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qF_2"
                  data-i18n="[label]medical:boxF.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qF_3"
                  data-i18n="[label]medical:boxF.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qF_4"
                  data-i18n="[label]medical:boxF.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>

          <fieldset id="boxG" class="box">
            <legend data-i18n="medical:boxG.title"></legend>
            <ol class="radioList">
              <li>
                <form-radio
                  id="GA_1"
                  data-i18n="[label]medical:boxG.1;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qG_2"
                  data-i18n="[label]medical:boxG.2;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qG_3"
                  data-i18n="[label]medical:boxG.3;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
              <li>
                <form-radio
                  id="qG_4"
                  data-i18n="[label]medical:boxG.4;[options]medical:yesNoOptions"
                ></form-radio>
              </li>
            </ol>
          </fieldset>
        </fieldset>

        <fieldset id="signatureStep" class="formStep">
          <p data-need-medical="false" data-i18n="[html]medical:signature.noMedical"></p>
          <p data-need-medical="true" data-i18n="[html]medical:signature.medical"></p>
          <form-signature id="signature" data-i18n="[label]liability.signature" required></form-signature>
        </fieldset>
      </multi-step-form>
    </div>
  </form>
</div>

<script src="/js/medical.js"></script>
