<form
  method="POST"
  action="https://script.google.com/macros/s/AKfycby3STqolbuRf7cXKuAsZjwLqUON9zZ69p-1Gu9xVEg/dev"
>
  <input type="text" name="name" placeholder="Name" />
  <button type="submit">Submit</button>
</form>
