/* Your CSS code here */
/* $Id: $ */
@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* Removed strong because already fixed by normalize.css */

:root {
  --main-bg-color: #01436f;
  --dark-blue: #002d4c;
  --blue-light: #006ab3;
  --test: #3388dd;
  --main-accent-color: #ffdd14;
  --primary-color: #ffffff;
  --button-color: #00000066;
  --border-color: #767676;
  --error-color: #dd0011;

  --body-font-family: Inter, Rubik, Open Sans, Roboto, sans-serif;
  --body-font-family-text: Arial, Helvetica, sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;

  --border-radius-sm: 0.2rem;
  --border-radius: 0.35rem;
  --border-radius-lg: 0.45rem;
  --border-radius-xl: 0.6rem;
  --border-radius-2xl: 2rem;
  --border-radius-pill: 50rem;

  --drop-shadow-size: 1.5rem;
}

body {
  background: var(--main-bg-color);
  min-height: 100vh;

  color: var(--main-bg-color);
  font-family: var(--body-font-family-text);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

input,
input[type="text"],
input[type="search"],
isindex,
textarea,
button {
  outline: none;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
}

button {
  background-color: var(--dark-blue);
  color: var(--main-accent-color);
  font-size: 1.5rem;
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}

input::invalid {
  background-color: #04aa6d;
}

a {
  border: 0px;
  outline: none;
  color: #3a6cae;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.zf-clearBoth {
  clear: both;
}

ol ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.formWidth {
  margin: var(--drop-shadow-size) 0 0 0;
  width: 700px;
  height: min-content;
}

.formDropShadow {
  transform: translate(var(--drop-shadow-size), calc(-1 * var(--drop-shadow-size)));
  background: var(--main-accent-color);
}

.formWrapper {
  transform: translate(calc(-1 * var(--drop-shadow-size)), var(--drop-shadow-size));
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: var(--border-radius-lg);
  -moz-border-radius: var(--border-radius-lg);
  border-radius: var(--border-radius-lg);
}

@media (max-width: 700px) {
  body {
    background-color: var(--main-accent-color);
  }

  .formWidth {
    width: 100%;
  }

  .formDropShadow {
    transform: none;
  }

  .formWrapper {
    transform: none;
  }
}

/**********instruction Message***********/
.zf-instruction {
  color: #939393;
  font-style: italic;
  margin-top: 3px;
  font-size: 16px;
  overflow: visible !important;
  word-break: break-all;
  margin-bottom: 3px;
}

/*****************template Header Starts Here****************/

.zf-tempHeadContBdr {
  background: var(--dark-blue);
  margin: 0;
  padding: 0.6rem 2rem;
}

.zf-tempHeadContBdr .zf-frmDesc {
  color: #dddddd;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/****************template Header Ends Here****************/

.zf-subContWrap {
  padding: 0;
  margin: 1rem;
}

.zf-tempFrmWrapper {
  padding: 10px 15px;
  margin: 1px 0;
}

.zf-tempFrmWrapper .zf-tempContDiv {
  margin: 0;
  padding: 0;
}

.zf-tempFrmWrapper .zf-labelName {
  font-weight: bold;
  font-size: 16px;
  color: #444;
}

h1,
h2 {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 2rem;
  color: var(--main-accent-color);
  padding: 0.5rem 0 1rem 0;
  font-weight: 900;
  text-transform: uppercase;
}

h2,
fieldset.formStep > legend {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--dark-blue);
}

/* h2 {
    background: var(--dark-blue);
    width: auto;
  } */

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  text-indent: 0.5rem;
  color: var(--dark-blue);
}

.zf-submitColor {
  color: #fff;
  border: 1px solid;
  border-color: #2f9eec #1988d6 #1988d6;
  background: #2596e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f9eec), to(#1988d6));
  background: -moz-linear-gradient(top, #2f9eec, #1988d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f9eec', endColorstr='#1988d6');
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.zf-submitColor:hover {
  background: #1988d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#1988d6), to(#1988d6));
  background: -moz-linear-gradient(top, #1988d6, #1988d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1988d6', endColorstr='#1988d6');
}

.signContainer canvas {
  width: 100%;
}

#liability {
  font-weight: 900;
}

multi-step-form > fieldset,
.flx-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem 0;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formInput > div {
  display: flex;
  flex-direction: column;
}

.multiInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 1rem;
}

@media (max-width: 700px) {
  .multiInput {
    flex-direction: column;
    gap: 0;
  }
}

/****************Legal pages styling****************/

.legal ol,
.legal ul {
  counter-reset: legalCounter;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.legal li {
  counter-increment: legalCounter;
  display: flex;
  flex-flow: wrap;
}

.legal ol > li:before {
  content: counter(legalCounter) ". ";
  padding-right: 1rem;
}

.legal ul > li:before {
  content: "• ";
  padding-right: 1rem;
}

.legal p {
  text-align: justify;
}

.legal li > * {
  flex: 1;
}

.legal section {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.legal .hidden {
  display: none;
}

.liabilityName {
  font-weight: bold;
  text-transform: uppercase;
}

/****************Tom select CSS Override ****************/

.countrySelect .optgroup-header {
  font-weight: bold;
}

.countrySelect .optgroup .option {
  padding: 0.5rem 1rem;
}

.countrySelect .ts-control {
  border: 1px, solid, #767676;
  padding: 0.5rem 1rem;
}

.countrySelect .ts-control,
.countrySelect .ts-dropdown,
.countrySelect .ts-control input {
  font-size: var(--body-font-size);
}

/****************IntlTelInput CSS Override****************/

.iti input {
  width: 100%;
}

.iti input.iti__tel-input[type="tel"]:focus,
.iti button.iti__selected-country:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.invalid {
  color: var(--error-color);
}

input.invalid {
  border: 1px solid var(--error-color);
}

/* FIXME: iti elements should be components */
.error {
  display: none;
  padding: 0.4rem 0 0 0.5rem;
  font-size: 0.9rem;
}

span.visible {
  display: block;
}

/****************SigPad CSS Override****************/

.sigPad .typeItDesc,
.sigPad .drawItDesc {
  font-family: var(--body-font-family-text);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--main-bg-color);
  border: none;
}

/****************Duet Date Picker Override****************/

.date .duet-date__input {
  padding: 0.5rem 1rem;
  font-family: var(--body-font-family-text);
  font-size: 1rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-color);
}

.date .duet-date__toggle {
  box-shadow: none;
  background: #fff0;
}

.date .duet-date__toggle:focus {
  /* box-shadow: 0 0 0 2px var(--duet-color-primary); */
  outline: -webkit-focus-ring-color auto 1px;
}

.date .duet-date__input:focus {
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 1px;
}

.date .duet-date__toggle-icon > svg {
  height: 1.25rem;
}
