<script type="module">
  import {
    LitElement,
    css,
    html,
  } from "https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js";

  class FormInput extends LitElement {
    static formAssociated = true;
    static styles = css`
      /* Same as formInput class */
      :host {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      :host:has(input[type="checkbox"]) {
        flex-direction: row-reverse;
        justify-content: start;
      }

      input {
        padding: 0.5rem 1rem;
        font-family: var(--body-font-family-text);
        font-size: 1rem;
      }

      .important {
        color: #ff0000 !important;
        font-weight: normal;
        margin-left: 0px;
        padding: 0;
        font-size: 13px !important;
      }
    `;

    _internals;

    static properties = {
      name: { type: String, reflect: true },
      id: { type: String },
      type: { type: String },
      label: { type: String },
      value: { type: String },
      required: { type: Boolean },
    };

    constructor() {
      super();
      this.name = "";
      this.label = "";
      this.type = "text";
      this.id = "";
      this.value = "";
      this.required = false;
    }

    createRenderRoot() {
      const renderRoot = super.createRenderRoot();
      renderRoot.delegateFocus = true;
      return renderRoot;
    }

    connectedCallback() {
      super.connectedCallback();

      if (!this.name.trim()) {
        this.name = this.id;
      }

      this._internals = this.attachInternals();
      if (!this._internals) {
        console.error("ElementInternals could not be attached.");
      }
    }

    firstUpdated() {
      super.firstUpdated();
      this.$input = this.shadowRoot.querySelector("input");
      this._internals.setFormValue("");
      // this.updateFormValue()
    }

    updateValue(e) {
      if (this.type == "checkbox") {
        this.value = e.target.checked;
      } else {
        this.value = e.target.value;
      }
    }

    updateFormValue() {
      this._internals.setFormValue(this.value);
      this._internals.setValidity(
        this.$input.validity,
        this.$input.validationMessage,
        this.$input,
      );

      const f = new FormData(this._internals.form);
      console.log(Object.fromEntries(f));
    }

    handleInput(e) {
      this.updateValue(e);
      this.updateFormValue();
    }

    render() {
      return html`
        <label class="zf-labelName" for="${this.id}">
          ${this.label}${this.required
            ? html`<em class="important">*</em>`
            : ""}
        </label>
        <input
          id="${this.id}"
          type="${this.type}"
          name="${this.name || this.id}"
          @input="${this.handleInput}"
          ?required=${this.required}
        />
      `;
    }
  }

  customElements.define("form-input", FormInput);
  window.FormInput = FormInput;
</script>
