<script type="module">
import {LitElement, css, html} from 'https://cdn.jsdelivr.net/gh/lit/dist@3/core/lit-core.min.js';

class FormInput extends LitElement {
  static formAssociated = true;
  static styles = css`
    /* Same as formInput class */
    :host {     
      display: flex;
      flex-direction: column;
      width: 100%
    }

    input {
      padding: 0.5rem 1rem;
      font-family: var(--body-font-family-text);
      font-size: 1rem;
    }
    
    .important {
      color: #ff0000 !important;
      font-weight: normal;
      margin-left: 0px;
      padding: 0;
      font-size: 13px !important;
    }
  `;

  #internals;

  static properties = {
    name: {type: String},
    id : {type: String},
    type : {type: String},
    label: {type: String},
    value: {type: String},
    required: {type: Boolean}
  };

  constructor() {
    super();
    this.name = '';
    this.label = 'default';
    this.type = 'text';
    this.id = 'default-id'
    this.value = '';
    this.required = false;
  }

  createRenderRoot() {
    const renderRoot = super.createRenderRoot();
    renderRoot.delegateFocus = true;
    return renderRoot;
  }

  connectedCallback() {
    super.connectedCallback();
    this.#internals = this.attachInternals();
    if (!this.#internals) {
      console.error("ElementInternals could not be attached.");
    }
  }

  firstUpdated() {
    super.firstUpdated();
    this.$input = this.shadowRoot.querySelector('input');
    this.updateFormValue()
  }

  updateValue() {
    this.value = this.$input.value 
  }

  updateFormValue() {
    this.#internals.setFormValue(this.value);
    this.#internals.setValidity(this.$input.validity, this.$input.validationMessage, this.$input);
  }

  handleInput() {
    this.updateValue()
    this.updateFormValue()
  }

  render() {
    return html`
    <label class="zf-labelName" for="${this.id}">
      ${this.label}${this.required ? html`<em class="important">*</em>` : ''}
    </label>
    <input
      id="${this.id}"
      type="${this.type}"
      maxlength="255"
      name="${this.id}"
      fieldType="7"
      @input="${this.handleInput}"
      ?required=${this.required}
    />
    `;
  }
}

customElements.define('form-input', FormInput);
window.FormInput = FormInput;

</script>