<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@placekit/autocomplete-js@latest/dist/placekit-autocomplete.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/@placekit/autocomplete-js@latest"></script>

<input type="search" placeholder="Search place..." class="pka-input" id="placekit" />
okok
<script>
  const pka = placekitAutocomplete('pk_V0nwVIf42oa6RoG9x5xmiZGembb2e1CKW/FsdzI47Tc=', {
    target: '#placekit',
    countrySelect: false,
    type: 'street'
    // other options...
  });
</script>