<form id="myForm">
  <fieldset class>
    <form-radio id="check1" options='[{"value": "true", "label": "Yes"}, {"value": "false", "label": "No"}]'>

    <button type="submit">Submit</button>
  </fieldset>
</form>
<script>
  const form = document.querySelector("#myForm");
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    console.log(Object.fromEntries(formData));
  });
</script>

<?!= include_('src/components/FormInput') ?>
<?!= include_('src/components/FormRadio') ?>

