<h2>Refund Policy</h2>
<h3>Courses</h3>

<p>
  Should a student fail to complete their course for any reason, charges shall be levied as follows:
</p>
<ul>
  <li><strong>After reservation only</strong>: the $200 deposit will not be refunded.</li>
  <li>
    <strong>After 1 day</strong>: $150 + $3 reef fee + $90 materials and 1 free night at the hotel.
  </li>
  <li>
    <strong>After 2 days if no boat/diving trip has been taken</strong>: $180 + $6 reef fee + $90
    materials and 2 free nights at the hotel.
  </li>
  <li>
    <strong
      >After 2 days if the student has been on a boat/diving trip, or after 3 days
      regardless</strong
    >: no refund will be offered.
  </li>
</ul>

<h3>Private Room Upgrade</h3>
<p>
  Should a student with a private room upgrade fail to complete his/her course (open water,
  advanced, rescue) and get reimbursed in any amount, the room upgrade discount will be cancelled,
  and regular room rates will apply.
</p>

<h3>Fun dives</h3>
<p>
  For any cancellations for guided dives, the office must be notified before 5:00 PM on the day
  prior to the dive trip. Any last-minute cancellations are lost reservations and non-refundable.
  Free fun dives are offered as part of core course bookings (OW, AOW, Rescue) and are only valid
  until the day after the course has been completed and are not transferable.
</p>

<h2>Terms and Conditions</h2>
<ol class="tAndCList">
  <li>
    Participation in the Dive Operator’s Reef Tax Scheme is compulsory for everyone diving at Utila
    Dive Centre (UDC). This tax includes a contribution to conservation, the community, and the
    hyperbaric chamber facility.
  </li>
  <li>
    Strict depth limits are applied to all divers as follows:
    <ul>
      <li><strong>Open Water Divers:</strong> 18m / 60 feet</li>
      <li><strong>Advanced divers certified after June 1998:</strong> 30m / 100 feet</li>
      <li><strong>Divemasters:</strong>30m / 100 feet</li>
      <li>
        <strong>Advanced divers certified before June 1998 and PADI Deep Divers:</strong> 40m / 130
        feet
      </li>
    </ul>
    UDC reserves the right to remove diving privileges from any diver who exceeds depth limits
    and/or follows unsafe diving practices.
  </li>
  <li>
    A refresher/tune-up is required for divers who have been inactive for the following periods:
    <ul>
      <li><strong>Less than 20 logged dives:</strong> 6 months or more</li>
      <li><strong>Less than 50 logged dives:</strong> 1 year or more</li>
      <li><strong>Less than 100 logged dives:</strong> 2 years or more</li>
    </ul>
  </li>
  <li>
    The use of drugs or alcohol before diving is strictly prohibited. Anyone arriving for class or
    fun dives under the influence or incapacitated will not be allowed to dive.
  </li>
  <li>
    Collecting shells, corals, sea fans, or any living or dead organisms from the reef is strictly
    prohibited by Honduran law. Please do not collect or touch anything and respect the reef and the
    environment.
  </li>
  <li>
    In the event of a large game encounter, should you choose to enter the water (this is not
    required), there is a mandatory minimum fee to be paid directly to the Captain upon return to
    the Dive Centre:
    <ul>
      <li><strong>350 Lps or $14</strong> for Whale Sharks & Pilot Whales</li>
      <li><strong>250 Lps or $10</strong> Lps for Dolphins</li>
    </ul>
  </li>
  <li>
    UDC and the Mango Inn are exempt from liability for accidents or injuries occurring on the
    premises of either the dive shop or hotel. Please be careful as this is often a slippery and wet
    environment.
  </li>
  <li>
    UDC and the Mango Inn are not responsible for any damage, loss, or theft of personal items.
    Lockers are provided and personal items should be kept there.
  </li>
  <li>
    UDC and the Mango Inn are not responsible for dive equipment stored in their facilities as the
    service is offered in good faith.
  </li>
  <li>
    For fun divers, a full set of gear is included in the price of dives/packages. Dive computers
    can be rented at $10/day.
  </li>
  <li>
    By the beginning of their course, UDC will provide each student with the necessary equipment.
  </li>
  <li>
    Each customer is fully responsible for any UDC gear they use and will be charged full
    replacement cost for any lost or damaged equipment.
  </li>
  <li>There is a $20 service charge for any regulator rinsed without the dust cap.</li>
  <li>
    Course schedules and dive trips are offered in good faith. Management reserves the right to
    delay courses or trips due to weather or unexpected situations.
  </li>
  <li>After a course or dive package has commenced, no reimbursements can be made.</li>
  <li>Full payment for all diving and course packages must be completed upon arrival.</li>
  <li>
    Dorm room nights at the Mango Inn are included in good faith, but additional nights are subject
    to availability and charges.
  </li>
  <li>
    UDC and the Mango Inn reserve the right to use any photos or videos taken at their facilities
    for marketing purposes.
  </li>
</ol>
