<h2 data-i18n="tAndC:refund.title"></h2>
<h3 data-i18n="tAndC:refund.courses.title"></h3>

<p data-i18n="tAndC:refund.courses.intro"></p>
<ul>
  <li>
    <strong data-i18n="tAndC:refund.courses.conditions.reservation.label"></strong>
    <span data-i18n="tAndC:refund.courses.conditions.reservation.details"></span>
  </li>
  <li>
    <strong data-i18n="tAndC:refund.courses.conditions.1day.label"></strong>
    <span data-i18n="tAndC:refund.courses.conditions.1day.details"></span>
  </li>
  <li>
    <strong data-i18n="tAndC:refund.courses.conditions.2days.label"></strong>
    <span data-i18n="tAndC:refund.courses.conditions.2days.details"></span>
  </li>
  <li>
    <strong data-i18n="tAndC:refund.courses.conditions.3days.label"></strong>
    <span data-i18n="tAndC:refund.courses.conditions.3days.details"></span>
  </li>
</ul>

<h3 data-i18n="tAndC:refund.room.title"></h3>
<p data-i18n="tAndC:refund.room.description"></p>

<h3 data-i18n="tAndC:refund.funDives.title"></h3>
<p data-i18n="tAndC:refund.funDives.description"></p>

<h2 data-i18n="tAndC:tc.title"></h2>
<ol class="tAndCList">
  <li data-i18n="tAndC:tc.rules.reefTax"></li>
  <li>
    <span data-i18n="tAndC:tc.rules.depthLimits.description"></span>
    <ul>
      <li>
        <strong data-i18n="tAndC:tc.rules.depthLimits.extra.ow.condition"></strong>
        <span data-i18n="tAndC:tc.rules.depthLimits.extra.ow.text"></span>
      </li>
      <li>
        <strong data-i18n="tAndC:tc.rules.depthLimits.extra.aow.condition"></strong>
        <span data-i18n="tAndC:tc.rules.depthLimits.extra.aow.text"></span>
      </li>
      <li>
        <strong data-i18n="tAndC:tc.rules.depthLimits.extra.dm.condition"></strong>
        <span data-i18n="tAndC:tc.rules.depthLimits.extra.dm.text"></span>
      </li>
      <li>
        <strong data-i18n="tAndC:tc.rules.depthLimits.extra.deep.condition"></strong>
        <span data-i18n="tAndC:tc.rules.depthLimits.extra.deep.text"></span>
      </li>
    </ul>
    <span data-i18n="tAndC:tc.rules.depthLimits.note"></span>
  </li>
  <!-- prettier-ignore -->
  <li><span data-i18n="tAndC:tc.rules.tuneUp.description"></span>
    <ul>
      <li>
        <strong data-i18n="tAndC:tc.rules.tuneUp.extra.20.condition"></strong>
        <span data-i18n="tAndC:tc.rules.tuneUp.extra.20.text"></span>
      </li>
      <li>
        <strong data-i18n="tAndC:tc.rules.tuneUp.extra.50.condition"></strong>
        <span data-i18n="tAndC:tc.rules.tuneUp.extra.50.text"></span>
      </li>
      <li>
        <strong data-i18n="tAndC:tc.rules.tuneUp.extra.100.condition"></strong>
        <span data-i18n="tAndC:tc.rules.tuneUp.extra.100.text"></span>
      </li>
    </ul>
  </li>
  <li data-i18n="tAndC:tc.rules.drugsOrAlcohol"></li>
  <li data-i18n="tAndC:tc.rules.reefItems"></li>
  <li>
    <span data-i18n="tAndC:tc.rules.largeGameEncounter.description"></span>
    <ul>
      <li>
        <strong data-i18n="tAndC:tc.rules.largeGameEncounter.extra.whaleSharks.condition"></strong>
        <span data-i18n="tAndC:tc.rules.largeGameEncounter.extra.whaleSharks.text"></span>
      </li>
      <li>
        <strong data-i18n="tAndC:tc.rules.largeGameEncounter.extra.dolphins.condition"></strong>
        <span data-i18n="tAndC:tc.rules.largeGameEncounter.extra.dolphins.text"></span>
      </li>
    </ul>
  </li>
  <li data-i18n="tAndC:tc.rules.liability"></li>
  <li data-i18n="tAndC:tc.rules.personalItems"></li>
  <li data-i18n="tAndC:tc.rules.diveEquipment"></li>
  <li data-i18n="tAndC:tc.rules.gearIncluded"></li>
  <li data-i18n="tAndC:tc.rules.equipmentForCourses"></li>
  <li data-i18n="tAndC:tc.rules.responsibilityForGear"></li>
  <li data-i18n="tAndC:tc.rules.floodedRegulator"></li>
  <li data-i18n="tAndC:tc.rules.tablet"></li>
  <li data-i18n="tAndC:tc.rules.courseDelays"></li>
  <li data-i18n="tAndC:tc.rules.nbTanks"></li>
  <li data-i18n="tAndC:tc.rules.reimbursement"></li>
  <li data-i18n="tAndC:tc.rules.makeUp"></li>
  <li data-i18n="tAndC:tc.rules.reschedule"></li>
  <li data-i18n="tAndC:tc.rules.paymentUponArrival"></li>
  <li data-i18n="tAndC:tc.rules.cardFees"></li>
  <li data-i18n="tAndC:tc.rules.dormNights"></li>
  <li data-i18n="tAndC:tc.rules.photos"></li>
</ol>
